@{
    ViewData["Title"] = "Home Page";
}


<div class="container" id="formAltaPacientes">
    <div class="row">
        <h4 class="text-muted">Formulario de alta - Pacientes</h4>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-6 col-lg-4">

            <div class="mb-3">

                <label for="nombre">Nombre:</label>
                <input id="nombre" class="form-control form-control-sm  mt-2" type="text">

            </div>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-4">

            <div class=" mb-3">
                <label for="apellidoP">Apellido paterno:</label>
                <input id="apellidoP" type="text" class="form-control form-control-sm  mt-2">
            </div>

        </div>

        <div class="col-sm-4 col-md-6 col-lg-4">

            <div class=" mb-3">
                <label for="apellidoM">Apellido materno:</label>
                <input id="apellidoM" type="text" class="form-control form-control-sm  mt-2">
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-6">
            <button type="submit" id="btnGuardarPaciente" class="btn btn-success">Enviar</button>

        </div>

    </div>



    <div class="dx-viewport mt-3">

        <div class="demo-container">
            <div id="gridContainer"></div>
        </div>
    </div>

</div>


